body {
  margin: 0;
  background: #000;
}

#canvas {
  position: relative;
  transform-origin: left top;
  transform: scale(.2);
  top: 800px; left: 10px;
}
#videobox {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 80%; height: 80%;
}
#video {
  display: block;
  /* transform: rotateZ(180deg); なぜか天地反転するので天地反転し返す */
}


div[id="btn"]{
  position: relative;
  bottom: 60px;
  text-align: center;
}

input[id="take_picture"]{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgba(250, 250, 250, 0.54);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
} 
input[id="take_picture"] .fa {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle; 
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

input[id="take_picture"] .fa:active{
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}
